<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${puppies} and ${puppies.size()}">no puppies :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Location</th>
        <th>Breed</th>
        <th>Photo</th>
    </tr>

    <tr th:each="puppy : ${puppies}">
        <td th:text="${puppy.name}"></td>
        <td th:text="${puppy.age}"></td>
        <td th:text="${puppy.location}"></td>
        <td th:text="${puppy.breed}"></td>
        <td th:text="${puppy.photo}"></td>
    </tr>

</table>

</body>
</html>