<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}" style="padding-top:100px">Default Title</h1>

<p>Puppy Profile View</p>

<table class="table puppyprofileinfo">
    <tr>
        <th><strong>Max</strong></th>
    </tr>

    <tr>
        <img class="image" src=".../static/images/puppy.jpg" />
    </tr>

    <tr>
        <th>Age:</th>
        <td>4 months</td>
    </tr>

    <tr>
        <th>Size:</th>
        <td>20 pounds</td>
    </tr>

    <tr>
        <th>Energy Level:</th>
        <td>5</td>
    </tr>
</table>


</body>
</html>