<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<div th:replace="fragments :: page-header"></div>

<form method="post" style="max-width:600px;" th:object="${puppy}" action="/puppy/view">

    <h1 th:text="*{name}">Puppy</h1>
    <p th:text="*{ageMonth}">BirthMonth</p>
    <p th:text="*{ageYear}">BirthYear</p>
    <p th:text="*{breed}">Breed</p>
    <p th:text="*{size}">Size</p>
</form>


</body>
</html>