<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<div th:replace="fragments :: page-header"></div>

<form method="post" style="max-width:600px;" th:object="${puppy}" action="/puppy/view">

    <h1 th:text="${puppy.name}">Puppy</h1>
<p th:value="${puppy.location}">Location</p>
<p th:value="${puppy.breed}">Breed</p>
<p th:value="${puppy.age}">Age</p>
</form>


</body>
</html>